body { background-color:#FFB1B1;}
h1 { color:#1D2128; 
	text-align:center;
	font-size: 30pt;	
	font-weight: normal;
	font-family: sans-serif;
	font-style:Bold;

	}
p {	
	color:#5E244E; 
	background-color:#FFEBB8;
	padding:0.6 em;
	margin:auto;
	margin-bottom:2 em;
	text-align:right;
	border: 3px dashed black;
	width: 40%
	min-width: 30em;
	}


.kanan {text-align: right;}
.kiri {text-align: left;}
.tengah {text-align: center;}

.background ungu terang {background-color:#C5B3D3;}

div {
	text-align:center;
}

a {
	color:#FFD6E0;
	text-decoration; none
}
